.main{
    background-color: lightblue;
    margin-bottom: 15px;
    overflow: hidden;
    .header{
        border-bottom: solid 1px #000;
        padding: 10px;
        background-color: lightblue;
        position: relative;
        z-index: 1;
        cursor: pointer;
        .plusMinus{
            margin-left: 50px;
            .minus{
                font-size: 30px;
            }
            .plus{
                font-size: 30px;
            }
        }
    }
    .collapse{
        transition: height 500ms;
        -webkit-transition: height 500ms;
        -moz-transition: height 500ms; 
        position: relative;
        &.open{
            transition: height 500ms;
            -webkit-transition: height 500ms;
            -moz-transition: height 500ms; 
        }

        .collapseInner{
            padding: 10px;
        }
        
    }
    .collapse.open.closed{
        height: 0;
    }


}

